@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #09090b; /* zinc-950 */
}

@keyframes scan {
  from { top: -10%; }
  to { top: 110%; }
}

@layer utilities {
  .animate-scan {
    animation: scan 3s linear infinite;
  }
}
